<div style = "margin-left: 20px; margin-top: 20px;">
    <button type="button" class="btn btn-primary" (click)="cekHarga('Pertamax')">Pertamax</button> 
    <button type="button" class="btn btn-secondary" style = "margin-left: 20px;" (click)="cekHarga('Pertalite')">Pertalite</button>
    <button type="button" class="btn btn-success" style = "margin-left: 20px;" (click)="cekHarga('Solar')">Solar</button>
    <button type="button" class="btn btn-danger" style = "margin-left: 20px;" (click)="cekHarga('PertamaxPlus')">Pertamax Plus</button>

    <!-- <div [ngSwitch]="kodeBensin">
        <button type="button" class="btn btn-primary" (click)="cekHarga('Pertamax')" *ngSwitchCase="1">Pertamax</button> 
        <button type="button" class="btn btn-secondary" style = "margin-left: 20px;" *ngSwitchCase="2">Pertalite</button>
        <button type="button" class="btn btn-success" style = "margin-left: 20px;" *ngSwitchCase="3">Solar</button>
        <button type="button" class="btn btn-danger" style = "margin-left: 20px;" *ngSwitchCase="4">Pertamax Plus</button>
    </div> -->
    

    <div style = "margin-top: 30px;">
        <h3>Bensin yang dipilih : {{bensin}}</h3>
        <h3>Harga : {{harga}}</h3>
        
        <div class="col-md-6 col-sm-12" style = "margin-top: 20px;">
            <div>
                <label class="form-label">Jumlah (liter)</label>
                <input type="number" [(ngModel)]="jumlahLiter" class="form-control" placeholder="Jumlah (liter)" name="jumlahLiter">
            </div>
            <div>
                <label class="form-label">Total Bayar</label>
                <input type="number" [(ngModel)]="totalBayar" class="form-control" placeholder="Total" name="totalBayar">
            </div>

            <button class="btn btn-success" style = "margin-top: 20px; margin-bottom: 20px;" (click)="hitungTotal(jumlahLiter, totalBayar)">Hitung</button>

        <h4>Harga yang dibayar: {{total}}</h4>

        <ng-container *ngIf="showChange === true; else tidakCukup">
            <div [ngClass]="testClass" role="alert">
                <h4>Uang kembali: {{change}}</h4>
            </div>
        </ng-container>

        <ng-template #tidakCukup>
            <p>Uang anda tidak mencukupi!</p>
        </ng-template>

        </div>

    </div>

</div>



