<div class="alert alert-primary col-md-8" role="alert">
  <h1 class="text-danger">Hello World. It's Fefe again!</h1>
</div>

<div class="form-check">
  <input
    class="form-check-input"
    type="radio"
    name="flexRadioDefault"
    id="flexRadioDefault1"
    [(ngModel)]="showData"
    [value]="true"
  />
  <label class="form-check-label" for="flexRadioDefault1"> Show data </label>
</div>
<div class="form-check">
  <input
    class="form-check-input"
    type="radio"
    name="flexRadioDefault"
    id="flexRadioDefault2"
    checked
    [(ngModel)]="showData"
    [value]="false"
  />
  <label class="form-check-label" for="flexRadioDefault2"> Hide data </label>
</div>

<ng-container *ngIf="showData === true; else kesini">
  <h3>{{ name }}</h3>
  <h3>{{ age }}</h3>
  <h3>{{ status }}</h3>
</ng-container>

<ng-template #kesini>
  <p>Halaman tidak ditampilkan</p>
</ng-template>

<ng-container [ngSwitch]="nomor">
  <ng-container *ngSwitchCase="1">1</ng-container>
  <ng-container *ngSwitchCase="2">2</ng-container>
  <ng-container *ngSwitchCase="3">3</ng-container>
  <ng-container *ngSwitchDefault>Default</ng-container>
</ng-container>

<!-- variable name, age, status diambil dari app.component.ts -->
<!-- <h3>{{ name }}</h3>
<h3>{{ age }}</h3>
<h3>{{ status }}</h3> -->

<!-- card pertama -->
<!-- <div class="card" style="width: 18rem">
  <div class="card-header">My Profile</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Age: {{ age }}</li>
    <li class="list-group-item">Name: {{ name }}</li>
    <li class="list-group-item">Status: {{ status }}</li>
  </ul>
</div>
<br /> -->

<!-- card kedua. untuk bisa masukin gini, perlu set card.component -->
<app-card
  title="Add Form"
  name="Add your name"
  [age]="0"
  [status]="false"
  (dataCallBack)="onCallBackAdd($event)"
>
</app-card>
<br />

<!-- card ketiga. untuk bisa masukin gini, perlu set card.component -->
<!-- <app-card
  [title]="person.title"
  [name]="person.name"
  [age]="person.age"
  [status]="person.status"
  (dataCallBack)= "onCallBack($event)"
></app-card>
<br> -->

<!-- card keempat, default card -->
<!-- <app-card (dataCallBack)= "onCallBack($event)"></app-card> -->

<!-- <ng-container *ngFor="let data of [1,2,3]">
  <app-card></app-card>
</ng-container> -->

<ng-container *ngFor="let data of personList">
  <!--{{ data }} <!-- object Object -->
  <app-card
    [title]="data.title"
    [name]="data.name"
    [age]="data.age"
    [status]="data.status"
    (dataCallBack)="onCallBack($event)"
  ></app-card>
  <br />
</ng-container>
