<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
  <div class="login-main-text">
    <img
      src="https://astrapay.com/static-assets/images/commons/logos/astrapay-white-rect.svg"
      alt="AstraPay Logo"
      style="width: 200px; height: 200px"
    />
    <h2>AstraPay Admin Login Page</h2>
    <p>Login here to access the admin page.</p>
  </div>
</div>

<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form [formGroup]="formLogin" (ngSubmit)="doLogin()">
        <div class="form-group">
          <label><b>Username</b></label>
          <input
            type="text"
            class="form-control"
            placeholder="Username"
            formControlName="noHp"
            name="noHp"
            [ngClass]="
              errorControl['noHp'].valid
                ? 'is-valid'
                : errorControl['noHp'].dirty ||
                  errorControl['noHp'].touched
                ? 'is-invalid'
                : ''
            "
          />
          <ng-container
            *ngIf="
              (errorControl['noHp'].dirty || errorControl['noHp'].touched) &&
              errorControl['noHp'].errors
            "
          >
            <div
              *ngIf="errorControl['noHp'].errors['required']"
              class="invalid-feedback"
            >
              Please enter your username
            </div>
            <!-- <div *ngIf="errorControl['noHp'].errors['email']">Please enter your Phone Number</div> -->
          </ng-container>
        </div>
        <div class="form-group">
          <label><b>Password</b></label>
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            formControlName="password"
            name="password"
            [ngClass]="
              errorControl['password'].valid
                ? 'is-valid'
                : errorControl['password'].dirty ||
                  errorControl['password'].touched
                ? 'is-invalid'
                : ''
            "
          />
          <ng-container
            *ngIf="
              (errorControl['password'].dirty ||
                errorControl['password'].touched) &&
              errorControl['password'].errors
            "
          >
            <div
              *ngIf="errorControl['password'].errors['password']"
              class="invalid-feedback"
            >
              Please enter your password
            </div>
            <!-- <div *ngIf="errorControl['noHp'].errors['email']">Please enter your Phone Number</div> -->
          </ng-container>
        </div>
        <button
          type="submit"
          class="btn btn-orange"
          [disabled]="!formLogin.valid"
        >
          Login
        </button>
        <!-- <a href="./register" class="btn btn-secondary">Register</a> -->
      </form>
    </div>
  </div>
</div>
