<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
  <div class="login-main-text">
    <img
      src="https://astrapay.com/static-assets/images/commons/logos/astrapay-white-rect.svg"
      alt="AstraPay Logo"
      style="width: 200px; height: 200px"
    />
    <h2>AstraPay Admin Register Page</h2>
    <p>Register here to create an account.</p>
  </div>
</div>

<div class="main">
  <div class="col-md-7 col-sm-12">
    <div class="login-form">

      <form [formGroup]="formRegister" (ngSubmit)="doRegister()">
        <div class="form-group">

          <!-- input phone number -->
          <label><b>Phone Number</b></label>
          <input type="text" class="form-control" placeholder="Phone Number" formControlName="noHp" name="noHp"/>
          <ng-container *ngIf="(errorControl['noHp'].dirty || errorControl['noHp'].touched) && errorControl['noHp'].errors">
            <div *ngIf="errorControl['noHp'].errors['required']">Please enter your phone number</div>
            <div *ngIf="errorControl['noHp'].errors['minlength']">Phone number is too short</div>
          </ng-container>
        </div>

        <!-- input email -->
        <div class="form-group">
          <label><b>Email</b></label>
          <input type="email" class="form-control" placeholder="Email" formControlName="email" name="email"/>
          <ng-container *ngIf="(errorControl['email'].dirty || errorControl['email'].touched) && errorControl['email'].errors">
            <div *ngIf="errorControl['email'].errors['required']">Please enter your email</div>
            <div *ngIf="errorControl['email'].errors['email']">Your email format is invalid</div>
          </ng-container>
        </div>

        <!-- input full name -->
        <div class="form-group">
          <label><b>Full Name</b></label>
          <input type="text" class="form-control" placeholder="Full Name" formControlName="nama" name="nama"/>
          <ng-container *ngIf="(errorControl['nama'].dirty || errorControl['nama'].touched) && errorControl['nama'].errors">
            <div *ngIf="errorControl['nama'].errors['required']">Please enter your full name</div>
          </ng-container>
        </div>

        <!-- input tanggal lahir -->
        <div class="form-group">
          <label><b>Date of Birth</b></label>
          <input type="date" class="form-control" placeholder="Date of Birth" formControlName="tanggalLahir" name="tanggalLahir"/>
          <ng-container *ngIf="(errorControl['tanggalLahir'].dirty || errorControl['tanggalLahir'].touched) && errorControl['tanggalLahir'].errors">
            <div *ngIf="errorControl['tanggalLahir'].errors['required']">Please enter your birth date</div>
          </ng-container>
        </div>

        <!-- input password -->
        <div class="form-group" style="margin-bottom: 20px;">
          <label><b>Password</b></label>
          <input type="password" class="form-control" placeholder="Password" formControlName="password" name="password"/>
          <ng-container *ngIf="(errorControl['password'].dirty || errorControl['password'].touched) && errorControl['password'].errors">
            <div *ngIf="errorControl['password'].errors['required']">Please enter password</div>
            <div *ngIf="errorControl['password'].errors['minlength']">Password is too short</div>
          </ng-container>
        </div>

        <!-- confirm password -->
        <div class="form-group" style="margin-bottom: 20px;">
          <label><b> Retype Your Password</b></label>
          <input type="password" class="form-control" placeholder="Input Your Password Again" formControlName="confirm_password" name="confirm_password"/>
          <ng-container *ngIf="(!confirmPassword)">
            <div>The password doesn't match</div>
          </ng-container>
        </div>

        <button type="submit" class="btn btn-orange">Create Account</button>
        <a href="./login" class="btn btn-secondary">Already Have an Account</a>
      </form>

    </div>
  </div>
</div>
