// body {
//   margin: 0;
//   font-family: "Lato", sans-serif;
// }

// .sidebar {
//   margin: 0;
//   padding: 0;
//   width: 150px;
//   background-color: #FF8500;
//   position:absolute;
//   height:181vh;
//   overflow: auto;
// }

// .sidebar a {
//   display: block;
//   color: white;
//   padding: 16px;
//   text-decoration: none;
// }

// .side-link {
//   color: white;
// }

// .side-item >a:hover {
//   background-color: #E82991;
//   color: white;
// }
 
// // .sidebar >.active >a {
// //   background-color: #E82991;
// //   color: white;
// // }

// // .sidebar a:hover:not(.active) {
// //   background-color: #0145E6;
// //   color: white;
// // }

// div.content {
//   margin-left: 150px;
//   padding: 1px 16px;
//   height: 1000px;
// }

// @media screen and (max-width: 700px) {
//   .sidebar {
//     width: 100%;
//     height: auto;
//     position: relative;
//   }
//   .sidebar a {float: left;}
//   div.content {margin-left: 0;}
// }

// @media screen and (max-width: 400px) {
//   .sidebar a {
//     text-align: center;
//     float: none;
//   }
// }
