<!-- <div class="sidebar">
  <div class="side-item active">
    <a class="side-link" [routerLink]="['/admin/dashboard']">Dashboard</a>
  </div>

  <div class="side-item">
    <a class="side-link" [routerLink]="['/admin/category']">Category</a>
  </div>

  <div class="side-item">
    <a class="side-link" href="#logout">Log Out</a>
  </div>
  
</div>

<script>
  $(document).ready(function () {

      $('div.sidebar > div')
              .click(function (e) {
          $('div.sidebar > div')
              .removeClass('active');
          $(this).addClass('active');
      });
  });
</script> -->

<!-- Sidebar -->
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <!-- <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon">
        <img class="rounded-circle" src="assets/img/astrapay-logo.jpeg" style="width: 45px; height: 45px;"
        alt="...">
      </div>
      <div class="sidebar-brand-text mx-3">AstraPay</div>
  </a> -->

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Nav Item - Tables -->
  <li class="nav-item active">
    <a class="nav-link" [routerLink]="['/admin/dashboard']">
      <i class="fas fa-fw fa-table"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Nav Item - Tables -->
  <li class="nav-item active">
    <a class="nav-link" [routerLink]="['/admin/category']">
      <i class="fas fa-fw fa-search"></i>
      <span>Category</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Nav Item - Tables -->
  <li class="nav-item active">
    <a class="nav-link" (click)="doLogout()">
      <i class="fas fa-sign-out-alt"></i>
      <span>Log Out</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />
</ul>
<!-- End of Sidebar -->
