<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <div class="row">
        <!-- <div class="col-md-2"> -->
        <!-- Sidebar -->
        <!-- <app-sidebar></app-sidebar> -->
        <!-- End of Sidebar -->
        <!-- </div> -->
        <div class="col-md-12">
          <!-- Topbar -->
          <!-- <app-navbar
                style="position: fixed; z-index: 10"
                class="col-md-10"
              ></app-navbar> -->
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid" style="margin-top: 10vh">
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Categories Table</h1>

            <!-- Modal -->
            <button
              style="margin-right: 8px; margin-bottom: 12px"
              type="button"
              class="btn btn-primary"
              (click)="openModal(template)"
            >
              Add Category
            </button>
            <!-- End Modal -->

            <!-- DataTables Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  Categories Info
                </h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Judul Kategori</th>
                        <th>Icon Kategori</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let data of categories">
                        <tr>
                          <td>{{ data.id }}</td>
                          <td>{{ data.judulKategori }}</td>
                          <td>
                            <a href="#"
                              ><img
                                src="{{ data.iconKategori }}"
                                alt=""
                                width="70"
                            /></a>
                          </td>

                          <td>
                            <button
                              type="button"
                              class="btn btn-primary"
                              style="margin-right: 20px; font-size: small; font-weight: bold; color: white;"
                              (click)="
                                openModal(templateEdit); getCategoryDetail(data)
                              "
                            >
                              Edit
                            </button>
                            <button
                              type="submit"
                              class="btn"
                              style="margin-right: 20px; background-color: #E82991; color: white; font-size: small; font-weight: bold;"
                              (click)="
                                openModal(deleteModal); getDeleteModal(data)
                              "
                            >
                              Delete
                            </button>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
      </div>
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; AstraPay 2020</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div
  class="modal fade"
  id="logoutModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Select "Logout" below if you are ready to end your current session.
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">
          Cancel
        </button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal Templates are Below -->

<!-- Add Modal -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add New Category</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form
      class="row g-3"
      [formGroup]="formAddCategory"
      (ngSubmit)="doAddCategory()"
    >
      <div class="col-md-12">
        <label for="inputJudulKategori" class="form-label"
          >Judul Kategori</label
        >
        <input
          type="text"
          class="form-control"
          id="inputJudulKategori"
          formControlName="judulKategori"
          name="judulKategori"
          [ngClass]="
            errorControl['judulKategori'].valid
              ? 'is-valid'
              : errorControl['judulKategori'].dirty ||
                errorControl['judulKategori'].touched
              ? 'is-invalid'
              : ''
          "
        />
        <ng-container
          *ngIf="
            (errorControl['judulKategori'].dirty ||
              errorControl['judulKategori'].touched) &&
            errorControl['judulKategori'].errors
          "
        >
          <div
            class="text-danger"
            *ngIf="errorControl['judulKategori'].errors['required']"
          >
            Please enter category title.
          </div>
        </ng-container>
      </div>

      <div class="col-12">
        <label for="inputFile" class="form-label">Icon Kategori</label>
        <input
          type="file"
          accept="image/png, image/jpeg, image/gif"
          class="form-control"
          id="inputFile"
          (change)="showPreview($event)"
          formControlName="iconKategori"
          name="iconKategori"
          [ngClass]="
            errorControl['iconKategori'].valid
              ? 'is-valid'
              : errorControl['iconKategori'].dirty ||
                errorControl['iconKategori'].touched
              ? 'is-invalid'
              : ''
          "
        />
        <ng-container
          *ngIf="
            (errorControl['iconKategori'].dirty ||
              errorControl['iconKategori'].touched) &&
            errorControl['iconKategori'].errors
          "
        >
          <div
            class="text-danger"
            *ngIf="errorControl['iconKategori'].errors['required']"
          >
            Please enter your photo.
          </div>
        </ng-container>
        <ng-container *ngIf="iconKategori">
          <img src="{{ iconKategori }}" alt="" width="200" height="200" />
        </ng-container>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="modalRef?.hide()"
        >
          Tutup
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!formAddCategory.valid"
          data-bs-dismiss="modal"
          (click)="modalRef?.hide()"
        >
          Simpan
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Edit Modal -->
<ng-template #templateEdit>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Category</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form
      class="row g-3"
      [formGroup]="formEditCategory"
      (ngSubmit)="doEditCategory()"
    >
      <div class="col-md-12">
        <label for="inputId" class="form-label">ID</label>
        <input
          type="text"
          formControlName="id"
          name="id"
          class="form-control"
          readonly
        />
        <!-- value="{{ categoryDetail.id }}" -->
      </div>

      <div class="col-md-12">
        <label for="inputJudulKategori" class="form-label"
          >Judul Kategori</label
        >
        <input
          type="text"
          class="form-control"
          id="inputJudulKategori"
          formControlName="judulKategori"
          name="judulKategori"
          [ngClass]="
            errorControl['judulKategori'].valid
              ? 'is-valid'
              : errorControl['judulKategori'].dirty ||
                errorControl['judulKategori'].touched
              ? 'is-invalid'
              : ''
          "
        />
        <!-- value="{{categoryDetail.judulKategori}}" -->
        <ng-container
          *ngIf="
            (errorControl['judulKategori'].dirty ||
              errorControl['judulKategori'].touched) &&
            errorControl['judulKategori'].errors
          "
        >
          <div
            class="text-danger"
            *ngIf="errorControl['judulKategori'].errors['required']"
          >
            Please enter category title.
          </div>
        </ng-container>
      </div>

      <div class="col-12">
        <label for="inputFile2" class="form-label">Icon Kategori</label>
        <br />
        <img [src]="categoryDetail.iconKategori" alt="" width="150" />

        <input
          type="file"
          accept="image/png, image/jpeg, image/gif"
          class="form-control"
          id="inputFile2"
          (change)="showPreview($event)"
          formControlName="iconKategori"
          name="iconKategori"
        />
        <ng-container *ngIf="iconKategori">
          <img src="{{ iconKategori }}" alt="" width="150" />
        </ng-container>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="modalRef?.hide()"
        >
          Tutup
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!formEditCategory.valid"
          data-bs-dismiss="modal"
          (click)="modalRef?.hide()"
        >
          Edit
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Delete Category Modal -->
<ng-template #deleteModal (ngSubmit)="doDeleteKategori()">
  <div class="modal-header">
    <h5 class="modal-title pull-left">Hapus Kategori</h5>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    ></button>
  </div>
  <div class="modal-body">
    <h6>
      Apakah Anda yakin ingin menghapus kategori "{{
        categoryDetail.judulKategori
      }}"?
    </h6>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-bs-dismiss="modal"
      (click)="modalRef?.hide()"
    >
      Batalkan
    </button>
    <button
      type="button"
      class="btn btn-danger"
      data-bs-dismiss="modal"
      (click)="modalRef?.hide()"
      (click)="doDeleteKategori()"
    >
      Hapus
    </button>
  </div>
</ng-template>
