<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>AstraPay Admin - Dashboard</title>

    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <div class="row">
            <!-- <div class="col-md-2"> -->
            <!-- Sidebar -->
            <!-- <app-sidebar></app-sidebar> -->
            <!-- End of Sidebar -->
            <!-- </div> -->
            <div class="col-md-112">
              <!-- Topbar -->
              <!-- <app-navbar
                style="position: fixed; z-index: 10"
                class="col-md-10"
              ></app-navbar> -->
              <!-- End of Topbar -->

              <!-- Begin Page Content -->
              <div class="container-fluid" style="margin-top: 10vh">
                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Users Table</h1>

                <!-- Modal -->
                <button
                  style="margin-right: 8px; margin-bottom: 12px"
                  type="button"
                  class="btn btn-primary"
                  (click)="openModal(template)"
                >
                  Add Users
                </button>

                <ng-template #template>
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">Tambah User</h4>
                    <button
                      type="button"
                      class="btn-close close pull-right"
                      aria-label="Close"
                      (click)="modalRef?.hide()"
                    >
                      <span aria-hidden="true" class="visually-hidden"
                        >&times;</span
                      >
                    </button>
                  </div>
                  <div class="modal-body">
                    <form
                      class="row g-3"
                      [formGroup]="formAdd"
                      (ngSubmit)="doAddUser()"
                    >
                      <div class="col-md-12">
                        <label for="inputNama" class="form-label">Nama</label>
                        <input
                          type="text"
                          class="form-control"
                          id="inputNama"
                          formControlName="nama"
                          name="nama"
                          [ngClass]="
                            errorControl['nama'].valid
                              ? 'is-valid'
                              : errorControl['nama'].dirty ||
                                errorControl['nama'].touched
                              ? 'is-invalid'
                              : ''
                          "
                        />
                        <ng-container
                          *ngIf="
                            (errorControl['nama'].dirty ||
                              errorControl['nama'].touched) &&
                            errorControl['nama'].errors
                          "
                        >
                          <div
                            class="text-danger"
                            *ngIf="errorControl['nama'].errors['required']"
                          >
                            Please enter your name.
                          </div>
                        </ng-container>
                      </div>
                      <div class="col-md-12">
                        <label for="inputNoHP" class="form-label">No HP</label>
                        <input
                          type="text"
                          class="form-control"
                          id="noHp"
                          formControlName="noHp"
                          name="noHp"
                          [ngClass]="
                            errorControl['noHp'].valid
                              ? 'is-valid'
                              : errorControl['noHp'].dirty ||
                                errorControl['noHp'].touched
                              ? 'is-invalid'
                              : ''
                          "
                        />
                        <ng-container
                          *ngIf="
                            (errorControl['noHp'].dirty ||
                              errorControl['noHp'].touched) &&
                            errorControl['noHp'].errors
                          "
                        >
                          <div
                            class="text-danger"
                            *ngIf="errorControl['noHp'].errors['required']"
                          >
                            Please enter your phone number.
                          </div>
                          <div
                            class="text-danger"
                            *ngIf="errorControl['noHp'].errors['minlength']"
                          >
                            Phone number is too short.
                          </div>
                        </ng-container>
                      </div>
                      <div class="col-md-6">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input
                          type="email"
                          class="form-control"
                          id="inputEmail"
                          formControlName="email"
                          name="email"
                          [ngClass]="
                            errorControl['email'].valid
                              ? 'is-valid'
                              : errorControl['email'].dirty ||
                                errorControl['email'].touched
                              ? 'is-invalid'
                              : ''
                          "
                        />
                        <ng-container
                          *ngIf="
                            (errorControl['email'].dirty ||
                              errorControl['email'].touched) &&
                            errorControl['email'].errors
                          "
                        >
                          <div
                            class="text-danger"
                            *ngIf="errorControl['email'].errors['required']"
                          >
                            Please enter your email.
                          </div>
                        </ng-container>
                      </div>
                      <div class="col-md-6">
                        <label for="inputPassword" class="form-label"
                          >Password</label
                        >
                        <input
                          type="password"
                          class="form-control"
                          id="inputPassword"
                          formControlName="password"
                          name="password"
                          [ngClass]="
                            errorControl['password'].valid
                              ? 'is-valid'
                              : errorControl['password'].dirty ||
                                errorControl['password'].touched
                              ? 'is-invalid'
                              : ''
                          "
                        />
                        <ng-container
                          *ngIf="
                            (errorControl['password'].dirty ||
                              errorControl['password'].touched) &&
                            errorControl['password'].errors
                          "
                        >
                          <div
                            class="text-danger"
                            *ngIf="errorControl['password'].errors['required']"
                          >
                            Please enter your password.
                          </div>
                          <div
                            class="text-danger"
                            *ngIf="errorControl['password'].errors['minlength']"
                          >
                            Password is too short.
                          </div>
                        </ng-container>
                      </div>
                      <div class="col-12">
                        <label for="inputTanggalLahir" class="form-label"
                          >Tanggal Lahir</label
                        >
                        <input
                          type="date"
                          class="form-control"
                          id="inputTanggalLahir"
                          placeholder="yyyy-mm-dd"
                          formControlName="tanggalLahir"
                          name="tanggalLahir"
                          [ngClass]="
                            errorControl['tanggalLahir'].valid
                              ? 'is-valid'
                              : errorControl['tanggalLahir'].dirty ||
                                errorControl['tanggalLahir'].touched
                              ? 'is-invalid'
                              : ''
                          "
                        />
                        <ng-container
                          *ngIf="
                            (errorControl['tanggalLahir'].dirty ||
                              errorControl['tanggalLahir'].touched) &&
                            errorControl['tanggalLahir'].errors
                          "
                        >
                          <div
                            class="text-danger"
                            *ngIf="
                              errorControl['tanggalLahir'].errors['required']
                            "
                          >
                            Please enter your birthdate.
                          </div>
                        </ng-container>
                      </div>

                      <!-- <div class="col-12">
                        <label for="inputRole" class="form-label">Role</label>
                        <input
                          type="text"
                          class="form-control"
                          id="inputRole"
                          formControlName="role"
                          name="role"
                          [ngClass]="
                            errorControl['role'].valid
                              ? 'is-valid'
                              : errorControl['role'].dirty ||
                                errorControl['role'].touched
                              ? 'is-invalid'
                              : ''
                          "
                        />
                        <ng-container
                          *ngIf="
                            (errorControl['role'].dirty ||
                              errorControl['role'].touched) &&
                            errorControl['role'].errors
                          "
                        >
                          <div
                            class="text-danger"
                            *ngIf="errorControl['role'].errors['required']"
                          >
                            Please enter your role.
                          </div>
                        </ng-container>
                      </div> -->

                      <div class="col-12">
                        <label for="inputFile" class="form-label">Photo</label>
                        <input
                          type="file"
                          accept="image/png, image/jpeg, image/gif"
                          class="form-control"
                          id="inputFile"
                          (change)="showPreview($event)"
                          formControlName="photo"
                          name="photo"
                          [ngClass]="
                            errorControl['photo'].valid
                              ? 'is-valid'
                              : errorControl['photo'].dirty ||
                                errorControl['photo'].touched
                              ? 'is-invalid'
                              : ''
                          "
                        />
                        <ng-container
                          *ngIf="
                            (errorControl['photo'].dirty ||
                              errorControl['photo'].touched) &&
                            errorControl['photo'].errors
                          "
                        >
                          <div
                            class="text-danger"
                            *ngIf="errorControl['photo'].errors['required']"
                          >
                            Please enter your photo.
                          </div>
                        </ng-container>
                        <ng-container *ngIf="photo">
                          <img
                            src="{{ photo }}"
                            alt=""
                            width="200"
                            height="200"
                          />
                        </ng-container>
                      </div>

                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                          (click)="modalRef?.hide()"
                        >
                          Tutup
                        </button>
                        <button
                          type="submit"
                          class="btn btn-primary"
                          [disabled]="!formAdd.valid"
                          data-bs-dismiss="modal"
                          (click)="modalRef?.hide()"
                        >
                          Simpan
                        </button>
                      </div>
                    </form>
                  </div>
                </ng-template>

                <!-- End Modal -->

                <!-- DataTables Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                      Users Info
                    </h6>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        class="table table-hover"
                        width="100%"
                        cellspacing="0"
                      >
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Phone number</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Date of Birth</th>
                            <th>Role</th>
                            <th>Image</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngFor="let data of user">
                            <tr>
                              <td>{{ data.id }}</td>
                              <td>{{ data.noHp }}</td>
                              <td>{{ data.nama }}</td>
                              <td>{{ data.email }}</td>
                              <td>{{ data.tanggalLahir }}</td>
                              <td>{{ data.role.roleTitle }}</td>
                              <td>
                                <img
                                  src="{{ data.photo }}"
                                  alt=""
                                  width="70"
                                  height="70"
                                />
                              </td>

                              <td>
                                <button
                                  class="btn"
                                  style="border: 0; background-color: #FF8500; font-size: small; font-weight: bold; color: white;"
                                  (click)="openModalDetail(templateDetail)"
                                  (click)="getDetail(data)"
                                >
                                  Details
                                </button>

                                <ng-template #templateDetail>
                                  <div class="modal-header">
                                    <h4 class="modal-title pull-left">
                                      User Details
                                    </h4>
                                    <button
                                      type="button"
                                      class="btn-close close pull-right"
                                      aria-label="Close"
                                      (click)="modalRef?.hide()"
                                    >
                                      <span
                                        aria-hidden="true"
                                        class="visually-hidden"
                                        >&times;</span
                                      >
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <div class="col-md-12">
                                      <label for="inputNama" class="form-label"
                                        >Nama</label
                                      >
                                      <input
                                        type="text"
                                        name="name"
                                        class="form-control"
                                        value="{{ userDetail.nama }}"
                                        readonly
                                      />
                                    </div>

                                    <div class="col-md-12">
                                      <label for="inputNoHP" class="form-label"
                                        >No HP</label
                                      >
                                      <input
                                        type="text"
                                        name="noHp"
                                        class="form-control"
                                        [value]="userDetail.noHp"
                                        readonly
                                      />
                                    </div>

                                    <div class="col-md-6">
                                      <label for="inputEmail" class="form-label"
                                        >Email</label
                                      >
                                      <input
                                        type="text"
                                        name="email"
                                        class="form-control"
                                        [value]="userDetail.email"
                                        readonly
                                      />
                                    </div>

                                    <div class="col-12">
                                      <label
                                        for="inputTanggalLahir"
                                        class="form-label"
                                        >Tanggal Lahir</label
                                      >
                                      <input
                                        type="text"
                                        name="tanggalLahir"
                                        class="form-control"
                                        [value]="userDetail.tanggalLahir"
                                        readonly
                                      />
                                    </div>

                                    <div class="col-12">
                                      <label for="inputRole" class="form-label"
                                        >Role</label
                                      >
                                      <input
                                        type="text"
                                        name="role"
                                        class="form-control"
                                        [value]="userDetail.role.roleTitle"
                                        readonly
                                      />
                                    </div>

                                    <div class="col-12">
                                      <!-- <label
                                          for="inputFile"
                                          class="form-label"
                                          >Photo</label
                                        > -->
                                      <img
                                        [src]="userDetail.photo"
                                        alt=""
                                        width="150"
                                      />
                                    </div>

                                    <div class="modal-footer">
                                      <button
                                        type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal"
                                        (click)="modalRef?.hide()"
                                      >
                                        Tutup
                                      </button>
                                    </div>
                                  </div>
                                </ng-template>
                              </td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.container-fluid -->
            </div>
          </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; AstraPay 2022</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
